/* Code Styles */

.mdx-content code {
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 14px;
  background-color: var(--color-code-bg);
  padding: 0.125em 0.25em;
  border-radius: 0.25rem;
}

.mdx-content pre {
  color: var(--color-code-dark-text);
  background-color: var(--color-code-dark-bg);
  overflow-x: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding: 0.8571429em 1.1428571em;
}

.mdx-content pre > code {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

/* Dark mode code styles */
.dark .mdx-content code {
  color: var(--color-text-dark-primary);
  background-color: var(--color-bg-dark-tertiary);
}
