/* List Styles */

.mdx-content ul {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
  padding-left: var(--spacing-6);
}

.mdx-content ol {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
  padding-left: var(--spacing-6);
}

.mdx-content ul > li {
  list-style-type: disc;
  list-style-position: outside;
}

.mdx-content ol > li {
  list-style-type: decimal;
  list-style-position: outside;
}
